<p id="notice"><%= notice %></p>

<h1>Meetings</h1>

<%= month_calendar events: @meetings do |date, meetings| %>
  <%= date %>
  <% meetings.each do |meeting| %>
    <div>
      <%= meeting.name %>
    </div>
  <% end %>

<% end %>


<br>

<%= link_to 'New Meeting', new_meeting_path %>
